body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 240px); 
    background-color: #f0f0f0;
    padding: 20px 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 10px 2px #aaa;
    z-index: 100;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
nav ul li a {
    text-decoration: none;
    color: #333;
}
nav ul li a.home {
    color: #ff0000; 
}
article, section {
    display: block;
    padding: 0 120px;
    font-size: 20px;
}
