html, body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center; /* Wypośrodkuj poziomo */
    min-height: 100vh; /* Zapewniamy pełną wysokość okna przeglądarki */
}

header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%); /* Wypośrodkuj poziomo */
    width: 100%;
    max-width: 1200px; /* Ustal maksymalną szerokość */
    background-color: #f0f0f0;
    padding: 20px -5px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 10px 2px #aaa;
    z-index: 100;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 10px; 
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

nav ul li a.home {
    color: #ff0000; 
}

.content {
    flex: 1;
    margin-top: 140px; 
    padding: 20px;
    padding-bottom: 60px; /* Dodajemy margines dolny */
    width: 100%;
    max-width: 1200px; /* Ustal maksymalną szerokość */
    margin-left: auto;
    margin-right: auto; /* Wypośrodkuj poziomo */
}

.custom-button {
    background-color: #4CAF50; 
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.custom-button:hover {
    background-color: #45a049;
}

article {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 150px 120px;
}

.article-element {
    width: 50%;
}

section {
    display: block;
    padding: 0 120px;
    font-size: 20px;
}

footer {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    width: 100%;
    max-width: 1200px; /* Ustal maksymalną szerokość */
    box-shadow: 0 -2px 10px 2px #aaa;
    margin-left: auto;
    margin-right: auto; /* Wypośrodkuj poziomo */
}
